@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background: #050816;
  color: white;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

.glass {
  background: rgba(255,255,255,0.08);
  backdrop-filter: blur(14px);
  border: 1px solid rgba(255,255,255,0.1);
}

.gradient-text {
  background: linear-gradient(to right, #ff9ecf, #ffffff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}